* {
    margin: 0;
    padding: 0;
    appearance: none;
    text-decoration: none;
    background: none;
    box-sizing: border-box;
}

button,
a.button {
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    border-width: 0px;
    border-color: rgb(0, 0, 0);
    font-family: Noto Sans;
    font-weight: 700;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-size: 18px;
    letter-spacing: 0px;
    padding: 10px 20px;
    min-width: 236px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: rgb(200, 113, 70);
        color: white;
    }
}

.front-page {
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
    }
}

.logo {
    position: absolute;
    width: 100px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;

    @media screen and (max-width: 1024px) {
        width: 150px;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    @media screen and (max-width: 768px) {
        width: 100px;
    }
}

.divider {
    z-index: 3;
    width: 10%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.hosteria,
.apart {
    position: relative;
    flex-grow: 1;
    width: 50%;
    height: 100vh;
    transition: all .3s ease;
    overflow: hidden;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: all .3s;
    }

    &:hover {
        flex-grow: 2;
        width: 70%;

        img {
            transform: scale(1.1);
        }

        &::after {
            opacity: .1;
        }

        .button {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: black;
        opacity: .3;
        transition: all .3s ease;
        pointer-events: none;
    }

    @media screen and (max-width: 1024px) {
        width: 100%;
        height: 50vh;

        &::after {
            opacity: .1;
        }

        &:hover {
            width: initial;
            flex-grow: 1;
        }
    }
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    
    @media screen and (max-width: 768px) {
        width: 100%;
        height: 100%;
        padding: 50px 0;
        gap: 10px;
    }
}

.apart .content {
    @media screen and (max-width: 768px) {
        justify-content: flex-end;
    }
}

.title {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;

    @media screen and (max-width: 768px) {
        font-size: 40px;
    }
}

.buttons {
    display: flex;
    gap: 20px;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.mobile-cta {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    display: none;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
    }

    @media screen and (max-width: 768px) {
        display: block;
    }
}

.button {
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(20px);
    transition-property: opacity, transform, background-color, color;
    transition-delay: 0s, 0s, 0s, 0s;
    transition-duration: .3s, .3s, .2s, .2s;
    transition-timing-function: ease-out, ease-out, linear, linear;
    
    &:last-child {
        transition-delay: .1s, .1s, 0s, 0s;
    }

    @media screen and (max-width: 1024px) {
        opacity: 1;
        transform: translateY(0);
    }
}